.DS_Store
WeatherBuddy/WeatherBuddy.xcworkspace/xcuserdata/maxwalsh.xcuserdatad/UserInterfaceState.xcuserstate
WeatherBuddy.xcworkspace/xcuserdata/maxwalsh.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
